In [31]:
import pandas as pd
import os
from sqlalchemy import create_engine,Table, MetaData, Column, Integer, String, ForeignKey, text

#code below is only run once! It created the db from the excel but, after that we'll use the db and discard excel...

# Set up path and filenames
path = "./materials/"
os.makedirs(path, exist_ok=True)

xlsx_file = os.path.join(path, "materials.xlsx")
db_file = os.path.join(path, "materials.db")
engine = create_engine(f'sqlite:///{db_file}')

# Load Excel data
df = pd.read_excel(xlsx_file)

# Step 1: Write to temporary table (no ID yet)
with engine.connect() as conn:
    df.to_sql('materials_temp', con=conn, if_exists='replace', index=False)

    # Step 2: Create new 'materials' table with an auto-incrementing ID
    conn.execute(text("""
        CREATE TABLE materials (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT,
            grade TEXT,
            chemical_formula TEXT,
            composition_by_weight_percent TEXT,
            mass_density_g_cm3 REAL,
            data_source TEXT
        )
    """))

    # Step 3: Copy from temp table into new table
    conn.execute(text("""
        INSERT INTO materials (
            name, grade, chemical_formula, composition_by_weight_percent, mass_density_g_cm3, data_source
        )
        SELECT name, grade, chemical_formula, composition_by_weight_percent, mass_density_g_cm3, data_source
        FROM materials_temp
    """))

    # Step 4: Drop the temp table
    conn.execute(text("DROP TABLE materials_temp"))

In [32]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, ForeignKey, text
import os

# Set up engine and path
path = "./materials/"
db_file = os.path.join(path, "materials.db")
engine = create_engine(f"sqlite:///{db_file}")

# Reflect existing DB
metadata = MetaData()
metadata.reflect(bind=engine)

# Create 'spectra' table if it doesn't exist
if 'spectra' not in metadata.tables:
    spectra = Table(
        'spectra', metadata,
        Column('id', Integer, primary_key=True),
        Column('material_id', Integer, ForeignKey('materials.id')),
        Column('spectrum_type', String),
        Column('data_format', String),
        Column('file_path', String),
    )
    metadata.create_all(engine)

# Specify material name and spectrum info
material_name = "ZTA"
spectrum_path = os.path.abspath("materials/spectra/dummySpectrum.csv")

# Insert new spectrum entry linked to the correct material
with engine.connect() as conn:
    result = conn.execute(
        text("SELECT id FROM materials WHERE name = :name"),
        {"name": material_name}
    ).fetchone()

    if result is None:
        raise ValueError(f"Material '{material_name}' not found in database.")

    material_id = result.id

    conn.execute(
        text("""
            INSERT INTO spectra (material_id, spectrum_type, data_format, file_path)
            VALUES (:material_id, :spectrum_type, :data_format, :file_path)
        """),
        {
            "material_id": material_id,
            "spectrum_type": "Attenuation",
            "data_format": "csv",
            "file_path": spectrum_path
        }
    )

ValueError: Material 'ZTA' not found in database.

In [33]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT name FROM materials"))
    names = [row.name for row in result]
    print("Materials in database:")
    for name in names:
        print(f"- {name}")

Materials in database:

In [38]:
with engine.connect() as conn:
    conn.execute(text("""
        INSERT INTO materials (
            name, grade, chemical_formula, composition_by_weight_percent,
            mass_density_g_cm3, data_source
        )
        SELECT name, grade, chemical_formula, composition_by_weight_percent,
               mass_density_g_cm3, data_source
        FROM materials_temp
    """))

In [40]:
with engine.connect() as conn:
    print("materials_temp columns:")
    result = conn.execute(text("PRAGMA table_info(materials_temp)"))
    for row in result:
        print("-", row.name)

    print("\nmaterials columns:")
    result = conn.execute(text("PRAGMA table_info(materials)"))
    for row in result:
        print("-", row.name)

materials_temp columns:
- name
- grade
- chemical_formula
- composition_by_weight_percent
- mass_density_g_cm3
- data_source

materials columns:
- id
- name
- grade
- chemical_formula
- composition_by_weight_percent
- mass_density_g_cm3
- data_source

In [41]:
with engine.connect() as conn:
    conn.execute(text("""
        INSERT INTO materials (
            name, grade, chemical_formula, composition_by_weight_percent,
            mass_density_g_cm3, data_source
        )
        SELECT name, grade, chemical_formula, composition_by_weight_percent,
               mass_density_g_cm3, data_source
        FROM materials_temp
    """))

In [44]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM materials_temp LIMIT 5"))
    rows = result.fetchall()
    print("Sample rows from materials_temp:")
    for row in rows:
        print(row._mapping)  # Use _mapping to access column names properly

Sample rows from materials_temp:
{'name': 'Al', 'grade': '7075', 'chemical_formula': None, 'composition_by_weight_percent': 'Zn0.05-Mg0.02-Cu0.02-Al-0.91', 'mass_density_g_cm3': 2.8, 'data_source': 'Klotz 2013'}
{'name': 'BeCu', 'grade': 'berylco 25', 'chemical_formula': None, 'composition_by_weight_percent': 'Be0.02-Co0.003-Ni0.003-Fe0.003-Cu-0.971', 'mass_density_g_cm3': 8.25, 'data_source': 'values for Berylco 25'}
{'name': 'TiAlV', 'grade': None, 'chemical_formula': None, 'composition_by_weight_percent': None, 'mass_density_g_cm3': None, 'data_source': None}
{'name': 'TiZr', 'grade': 'custom', 'chemical_formula': 'Zr0.32-Ti0.68', 'composition_by_weight_percent': None, 'mass_density_g_cm3': 5.23, 'data_source': 'ISIS internal report'}
{'name': 'SS304', 'grade': 'SAE 304 stainless', 'chemical_formula': None, 'composition_by_weight_percent': 'Cr0.2-Ni0.1-Fe0.7', 'mass_density_g_cm3': 7.9, 'data_source': 'wikipedia'}

In [45]:
with engine.connect() as conn:
    count = conn.execute(text("SELECT COUNT(*) FROM materials_temp")).scalar()
    print(f"materials_temp has {count} rows to copy.")

materials_temp has 16 rows to copy.

In [46]:
with engine.connect() as conn:
    count = conn.execute(text("SELECT COUNT(*) FROM materials")).scalar()
    print(f"materials currently has {count} rows.")

materials currently has 0 rows.

In [47]:
with engine.connect() as conn:
    result = conn.execute(text("""
        INSERT INTO materials (
            name, grade, chemical_formula, composition_by_weight_percent,
            mass_density_g_cm3, data_source
        )
        SELECT name, grade, chemical_formula, composition_by_weight_percent,
               mass_density_g_cm3, data_source
        FROM materials_temp
        RETURNING id, name
    """))
    
    inserted = result.fetchall()
    print(f"✅ Inserted {len(inserted)} rows into materials:")
    for row in inserted:
        print(f"- ID {row.id}: {row.name}")

✅ Inserted 16 rows into materials:
- ID 1: Al
- ID 2: BeCu
- ID 3: TiAlV
- ID 4: TiZr
- ID 5: SS304
- ID 6: SS316
- ID 7: V
- ID 8: VNb
- ID 9: NiCrAl
- ID 10: Teflon
- ID 11: Re
- ID 12: W
- ID 13: WC
- ID 14: sinteredDiamond
- ID 15: versimax
- ID 16: ZTA

In [48]:
with engine.connect() as conn:
    conn.execute(text("DROP TABLE materials_temp"))
    print("✅ Dropped materials_temp")

✅ Dropped materials_temp